<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%=fruit.name %>
    </title>
</head>

<body>
    <h1>Edit Your <%= fruit.name %>
    </h1>
    <form action="/fruits/<%=fruit._id%>?_method=PUT" method="POST">
        <label for="name">Fruit:</label>
        <input type="text" name="name" id="name" value="<%= fruit.name %>" />
        <label for="color">Color:</label>
        <input type="text" name="color" id="color" value="<%=fruit.color %>">
        <label for="readyToEat">Is it ready to eat?</label>
        <input type="checkbox" name="readyToEat" id="readyToEat" <% if(fruit.readyToEat){ %>
        checked
        <% } %> />
            <button type="submit">Edit Fruit</button>
    </form>
    <a href="/fruits/">Back all Fruits</a>
</body>

</html>